<button mat-icon-button
        color="warn"
        aria-label="status-button"
        (click)="onClick()">
  <div [ngSwitch]="status">
    <div *ngSwitchCase="FAVORITE" class="icon-wrapper">
      <mat-icon matTooltip="Favorite">favorite</mat-icon>
    </div>
    <div *ngSwitchCase="WORK" class="icon-wrapper">
      <mat-icon matTooltip="Bussiness">assignment</mat-icon>
    </div>
    <div *ngSwitchCase="SMS" class="icon-wrapper">
      <mat-icon matTooltip="SMS">send</mat-icon>
    </div>
    <div *ngSwitchDefault class="icon-wrapper">
      <mat-icon matTooltip="Unknown">help</mat-icon>
    </div>
  </div>
</button>
