<form class="example-form"
      [formGroup]="form">
  <div class="input-wrapper">
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput
             placeholder="Enter name..."
             formControlName="name">
    </mat-form-field>

    <div class="btn-wrapper">
      <button color="accent"
              mat-raised-button
              aria-label="Add button"
              (click)="addContact()"
              [disabled]="form.get('name')?.invalid">
        <mat-icon>add</mat-icon>
        <span>Добавить номер</span>
      </button>
    </div>

  </div>

  <mat-list role="list"
            formArrayName="contacts">
    <mat-list-item role="listitem"
                   *ngFor="let control of contactsArray?.controls; index as i">
      <ng-container
                    *ngTemplateOutlet="contactTemplate; context:{ $implicit: control, idx: i }">
      </ng-container>
    </mat-list-item>
  </mat-list>
</form>

<ng-template #contactTemplate
             let-control
             let-index="idx">
  <mat-label>{{ index + 1}}</mat-label>
  <app-contact-group [formControl]="control"
                     (removeContact)="removeContact(index)"></app-contact-group>
</ng-template>
