mat-form-field {
  padding: 10px;
}

.mat-list-base mat-list-item.mat-list-item {
  height: auto;
}

.input-wrapper {
  display: flex;
  align-items: baseline;
  margin-right: 20px;
  padding-left: 24px;
}
